/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Variables globales
$verde-claro: #d2ec7d;
$rosa-morado: #632d4a;
$rosa-pastel: #d4afc3;
$rosa-fuerte: #9d4671;
$rosa-intenso: #d63384;