<div class="navbar">
  <ul>
    <li class="brand">
      <i class="bi bi-flower1"></i> Maison Sucrée
    </li>

    <div class="nav-links">
      <li>
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
      </li>
      <li>
        <button class="nav-link" (click)="abrirCliente()">
          <i class="bi bi-person-circle"></i>
        </button>
      </li>
      <li>
        <a class="nav-link" routerLink="/carrito" routerLinkActive="active">
          <i class="bi bi-cart"></i>
        </a>
      </li>
    </div>

    </ul>
</div>

