@import '../../../styles.scss';

.navbar{
    display:flex;
    justify-content:space-between;
    background-color:$verde-claro;
}
.navbar ul {
   list-style: none;
   display: flex;
   justify-content: space-between; 
   width: 100%; 
   align-items: center;
   padding: 10px 50px;
   margin: 0;
}

.navbar .brand {
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
}

.navbar .nav-links {
   display: flex;
   align-items: center;
   font-size: 1.1rem;
   gap: 30px;
   padding: 0px 30px ;
}

.nav-link {
   text-decoration: none;
   color: #333;
   transition: color 0.3s;
}

.nav-link i{
    font-size: 1.4rem;
}

.nav-link:hover {
  color: #5a5a5a;
}

.nav-link.active {
  color: #2b2b2b;
  border-bottom: 2px solid #2b2b2b; 
}