@import '../../../styles.scss';
//con import revisen styles.scss y ya estan los colores predefinidos para susarlos ponen 
//Por ejemplo: background-color: $nombre-color

/* FONDO DEL MODAL */
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.open {
    display: flex;
  }
}

/* CAJA DE LOGIN */
.login-box {
  background-color: $verde-claro; // Verde pastel del menú del zip
  padding: 40px;
  border-radius: 30px;
  width: 340px;
  text-align: center;
  position: relative;
}

/* BOTÓN CERRAR */
.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 20px;
}

/* ICONO */
.login-icon img {
  width: 90px;
  margin-bottom: 20px;
}

/* INPUTS */
.login-input {
  width: 100%;
  padding: 12px 18px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 25px;
  background: white;
  font-size: 14px;
  outline: none;
}

/* BOTÓN INGRESAR */
.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: $rosa-morado;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

/* LINK CREAR CUENTA */
.create-account {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.login-btn {
  width: 200px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  background-color: $rosa-pastel;   // verde del navbar
  color: black;
  font-size: 15px;
  font-weight: 500;

  display: block;
  margin: 15px auto 5px;

  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background-color: $rosa-pastel;   // tono más oscuro
  transform: scale(1.03);
}

.crear-cuenta-link {
  display: block;
  text-align: center;
  margin-top: 8px;

  color: black;
  font-size: 14px;
  text-decoration: none;

  transition: 0.2s ease-in-out;
}

.crear-cuenta-link:hover {
  color: #7a8b4a; // verde más oscuro
}



