@import '../../../styles.scss';

.encabezado{
    display: flex;
    align-items: center;
    //margin-right: 10px;
    //justify-content: center;
    
    //background-color: #f8f8f8;
    padding: 20px;
    //border-bottom: 1px solid #ddd;
}

.encabezado h1{
    flex : 2;
    text-align: center;
    padding: 30px 5px 0px 5px;
}
.encabezado .button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px 15px;
  border-radius: 20px;
  background-color: $rosa-morado;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.encabezado .button-close:hover{
    background-color: $rosa-fuerte;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}  

.content .photo{
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content .description{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    color: #333;
}

.content .price{
    font-size: 20px;
    font-weight: 500;
    color: $rosa-morado;
    margin-bottom: 20px;
}

.content .add-btn{
    padding: 10px 25px 10px 20px;
    background-color: $rosa-morado;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.content .add-btn:hover{
    background-color: $rosa-fuerte;
}