<div *ngIf="login">
  <div class="productos" *ngIf="mostrarProductos">

    <h1 class="carrito">Tu carrito</h1>

    <ng-container *ngIf="productosI.length > 0; else sinProductos">

        <div class="container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productosI">
                        <td><img [src]="p.img" width="70"></td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.precio | currency:'MXN'}}</td>
                        <td>
                            <div class="cantidad">
                                <button (click)="decrementar(p)" [disabled]="p.cantidad === 0" class="btn-cantidad">-</button>
                                {{p.cantidad}}
                                <button (click)="incrementar(p)" class="btn-cantidad">+</button>
                            </div>
                            <button class="btn-eliminar" (click)="eliminar(p.id)">Eliminar</button>
                        </td>
                        <td>{{ p.getSubtotal() | currency:'MXN' }}</td>
                    </tr>
                </tbody>
            </table>

            <p>Total: {{ total | currency:'MXN' }}</p>
        </div>

        <div class="botones">
            <button class="btn2" (click)="descuento()">Aplicar Cupón</button>
            <button class="btn1" (click)="iniciarPago()">Pagar</button>
        </div>

    </ng-container>

    <ng-template #sinProductos>
        <div class="mensaje-vacio">
            
            <p>No hay productos agregados.</p>
        </div>
    </ng-template>

</div>


<div *ngIf="!mostrarProductos">
<app-asistente-pasos #asistente [pasos]="pasos" [pasoActual]="pasoActual" (pasoCambiado)="cambiarPaso($event)" [desplazamiento]="false">
  <div *ngIf="pasoActual === 1" class="form-container">
    <div >
      <h2>Registro de Datos</h2>
      <form #formDatos="ngForm" (ngSubmit)="guardar(formDatos)"> 
        <div class="mb-3">
          <label class="form-label">Fecha:</label>
            <input type="date"
              name="fecha"
              class="form-control"
              required
              [(ngModel)]="pedido.fechaEntrega">
        </div>
        <div class="mb-3">
          <label class="form-label">Hora:</label>
          <input type="time"
                name="hora"
                class="form-control"
                required
                [(ngModel)]="pedido.horaEntrega">
        </div>
        <div class="botones">
          <button class="btn1" 
            type="submit" 
            [disabled]="formDatos.invalid">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="pasoActual===2" class="eleccion">
    <h1>Selecciona tu forma de entrega</h1>
    <button  (click)="pickUp()" class="boton1"><i class="bi bi-shop"></i> Pick Up</button>
    <button (click)="domicilio()" class="boton2"><i class="bi bi-truck"></i>Envio Domicilo</button>
  </div>

  <div *ngIf="pasoActual===3" >
    <h1>Selecciona tu método de pago</h1>
    <div *ngIf="!eleccionMP && !eleccionPaypal" class="eleccion">
      <button (click)="paypal()" class="boton1">
        <i class="bi bi-paypal "></i>Paypal
      </button>
      <button (click)="mercadoPago()" class="boton2">
        <i class="bi bi-credit-card"></i>Mercado Pago  
      </button>
    </div>
    <!-- Formulario PayPal --> 
    <div *ngIf="eleccionPaypal" class="form-container">
  <h2>Datos de pago - Tarjeta</h2>

  <form #tarjetaForm="ngForm">
    <div class="mb-3">
      <label>Número de tarjeta</label>
      <input 
        type="text" 
        name="numeroTarjeta" 
        ngModel 
        required 
        minlength="16" 
        maxlength="16" 
        class="form-control"
        placeholder="Ej. 4111 1111 1111 1111">
    </div>

    <div class="mb-3">
      <label>CVV</label>
      <input 
        type="text" 
        name="cvv" 
        ngModel 
        required 
        minlength="3" 
        maxlength="4" 
        class="form-control"
        placeholder="3 o 4 dígitos">
    </div>

    <div class="mb-3">
      <label>Fecha de vencimiento</label>
      <input 
        type="month" 
        name="fechaVencimiento" 
        ngModel 
        required 
        class="form-control">
    </div>

    <div class="botones">
      <button 
        type="button" 
        class="btn1" 
        (click)="pagarPaypal(tarjetaForm.value)" 
        [disabled]="!tarjetaForm.valid">
        Pagar con tarjeta
      </button>
    </div>
  </form>
</div>

    <!-- Formulario MercadoPago -->
    <div *ngIf="eleccionMP" class="form-container">
      <h2>Datos del cliente - MercadoPago</h2>
      <form #mpForm="ngForm">
        <div class="mb-3">
          <label>Nombre</label>
          <input type="text" name="nombre" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Apellido</label>
          <input type="text" name="apellido" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="email" name="email" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Teléfono</label>
          <input type="text" name="telefono" ngModel class="form-control">
        </div>
        <div class="mb-3">
          <label>Tipo de documento</label>
          <select name="tipoDocumento" ngModel required class="form-select">
            <option value="INE">INE</option>
            <option value="CURP">CURP</option>
            <option value="PASSPORT">Pasaporte</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Número de documento</label>
          <input type="text" name="documento" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Dirección</label>
          <input type="text" name="direccion" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Código Postal</label>
          <input type="text" name="cp" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>Ciudad</label>
          <input type="text" name="ciudad" ngModel required class="form-control">
        </div>
        <div class="mb-3">
          <label>País</label>
          <input type="text" name="pais" ngModel required class="form-control">
        </div>

        <div class="botones">
          <button type="button" class="btn1" (click)="pagarMP(mpForm.value)" [disabled]="!mpForm.valid">Siguiente</button>
        </div> 
      </form>
    </div>
  </div>
  <div *ngIf="pasoActual===4" class="resumen">
    <div class="container">
      <ng-container *ngIf="productosI.length > 0">

        <div class="container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productosI">
                        <td><img [src]="p.img" width="70"></td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.precio | currency:'MXN'}}</td>
                        <td>
                            <div class="cantidad">
                           
                                {{p.cantidad}}
                           
                            </div>
                          </td>
                    </tr>
                </tbody>
            </table>

            <p>Total: {{ total | currency:'MXN' }}</p>
        </div>
    </ng-container>

    </div>
    <div>
      <h2>Método de entrega:</h2>
      <div *ngIf="eleccionPickUp" class="resumenEntrega">
        <p>Pick Up</p>
      </div>
      <div *ngIf="eleccionDomicilio" class="resumenEntrega">
        <p>Domicilio</p>
      </div>
    </div>
    <div>
      <h2>Método de pago:</h2>
      <div *ngIf="eleccionPaypal" class="resumenEntrega">
        <p>Paypal</p>
      </div>
      <div *ngIf="eleccionMP" class="resumenEntrega">
        <p>Mercado Pago</p>
      </div>
    </div>
    <button (click)="confirmar()">Confirmar compra</button>
  </div>
  <div *ngIf="pasoActual===5" class="eleccion">
    <h1>Seguimiento</h1>
      <div class="stepper">
        <div *ngFor="let paso of status; let i = index"
          class="step"
          [class.activo]="i === statusActivo"
          [class.completado]="i < statusActivo">
          {{ paso }}
        </div>
      </div>
      <div class="botones">
          <button class="btn2" 
            type="submit"
            (click) = "finalizar()">
            Finalizar
          </button>
      </div>
    </div>
</app-asistente-pasos>
</div>
</div>