@import '../../../styles.scss';

.carrito {
  padding: 20px 0 0 0;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.container {
  margin: 20px auto 0 auto;   // centrado
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.tabla {
  border-collapse: collapse;     
  margin: 20px auto;               
  width: 90%;  
  //padding: 0px 0px 0px 0px;                 
}

.tabla thead {
  background-color: $rosa-pastel;
}

.tabla th{
  border: 2px solid #c49eb2;
  padding: 10px 28px;                   
  text-align: center; 
  font-weight: 550;
}

.tabla td {
  border: 2px solid rgb(230, 227, 227);        
  padding: 10px;                   
  text-align: center;           
}

.tabla tbody tr:nth-child(even) {
  background-color: #f9f9f9;      
}

.tabla .btn-cantidad{
    background-color: $verde-claro;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin: 5px;
}

.tabla .btn-cantidad:hover{
  //background-color: dark $verde-claro;
  filter: brightness(90%);
}

.cantidad{
  flex-wrap: wrap;
}

.tabla img{
    width : 150px;
    height: auto;
}

.tabla .btn-eliminar{
  background-color: $rosa-fuerte;
  border: none;
  font-size: 14px;
  color:white;
  font-weight: 500;
  border-radius: 20px;
  padding: 0px 10px;
}

.tabla .btn-eliminar:hover{
  filter: brightness(90%);
}

.container p{ 
  font-size: 25px;
  font-weight: 550;
  //align-items: end;
  text-align: center;
  padding: 0px 0px 0px 50px;
}

.botones {
  width: 50%;     // también coincide
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  gap: 50px;

  .btn2{
    background-color: $rosa-pastel;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 20px;
  }

  .btn2:hover{
    filter: brightness(93%);
  }

  .btn1{
    background-color: $verde-claro;
    color: black;
    border: none;
    border-radius:50px;
    padding: 10px 30px;
    font-size: 20px
  }

  .btn1:hover{
    filter: brightness(93%);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  background: #fefefe;
  padding: 5px 20px 5px 20px; 
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
  width: 50%;
  margin: 20px auto;

  .form-label{
    font-size: 18px;
    font-weight:300;
    padding: 5px;
  }

  .form-control {
    border-radius: 8px;
    padding: 10px;
    margin: 5px auto;
  }

  h2{
    text-align: center;
    padding: 15px;
    color: $rosa-intenso;
  }
}

.eleccion{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .boton1{
    flex-direction: column;
    font-size: 25px;
    width: 70%;
    background-color: $rosa-morado;
    padding: 30px 30px;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
  } 

  .boton2{
    flex-direction: column;
    font-size: 25px;
    width: 70%;
    background-color: white;
    padding: 30px 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
  } 
}

////////////////////////Seguimeinto pedidos
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  
}

.step {
  flex: 1;
  text-align: center;
  padding: 25px 5px;
  margin: 0 0px;
  height: 100px;
  border: $rosa-morado;
  border-radius: 10px;
  background-color: $rosa-pastel; 
  transform: skewX(-20deg);
  color: #000;
  transition: all 0.3s ease;
}

.step.activo {
  background-color: #d6f596;
  font-weight: bold;
}

.step.completado {
  background-color: $rosa-pastel;
  color: black;
}

.step span {
  display: inline-block;
  transform: skewX(20deg); 
}

.resumen{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:20px;

  h2{
    color: $rosa-fuerte;
  }

  button{
    font-size: 20px;
    background-color: $verde-claro;
    border: none;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
  }
}

.dialog-fullscreen .mat-dialog-container {
  width: 100vw !important;      // ancho de toda la ventana
  height: 100vh !important;     // altura completa
  max-width: 100vw !important;  // evitar max-width predeterminado
  max-height: 100vh !important; // evitar max-height predeterminado
  margin: 0 !important;         // eliminar márgenes
  padding: 0 !important;        // eliminar padding interno
}
