@import '../../../styles.scss';

.hero-container {
  position: relative;
  width: 100%;
}

.principal-image {
  width: 100%;
  height: 650px;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 45%;
  padding: 15px 70px;
  border-radius: 35px;
  background-color: $rosa-morado;
  color: white;
  font-size: 35px;
  font-weight: 400;
}

.container {
  width: 100%;
  //display: flex;
  //flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 20px;
  //gap: 50px;
}

.container p {
  text-align: center;
  font-size: 25px;
  font-weight: 330;
  margin: 15px;
  
}

.descuentoImag {
      border-radius: 10px;    
      width: 20%;
      height: auto;
      transform: translateX(-200px);
}

.discount-banner {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color: $rosa-pastel; // Fondo color rosa claro
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 450px;
  //max-width: 100%; // Ajusta según el tamaño deseado
  margin: 20px auto;

  .text-content{
      display:flex;
      flex-direction: column; // El texto se organizará en columna
      justify-content: center;
      align-items: center;
      width: 90%;
      //margin-right: 20px; // Separación entre texto y la imagen
      //text-align: center;

      h1 {
        font-size: 5.3rem;
        font-weight: 250px;
        margin: 0;
        color: white;
        line-height: 1.8;
}
      p {
          font-size: 1.5rem;
          color: black;
          margin: 8px 0;
          margin-bottom: 10px;
      }

      .btn-discount {
        background-color: $verde-claro; /* Color verde del botón */
        color: black;
        padding: 15px 40px;
        font-size: 25px;
        font-weight: 300px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        margin-top: 30px;
        transition: background-color 0.3s ease;
      }

      .btn-discount:hover {
        color: white;
        background-color: #b9d06e; /* Color verde más oscuro al pasar el mouse */
      }
    } 
}

.ShopNow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $verde-claro; /* Color de fondo verde suave */
  padding: 100px;
  width: 100%;
  height: 280px;

  .text-s{
    display: flex;
    flex-direction:column;
    //justify-content: center;
    align-items: center; /* Centra el contenido */
    flex: 1;
    text-align: center;
    transform: translateX(100px);

    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 20px;

      li {
        margin-bottom: 5px;
        position:relative;
        padding-left: 20px;
        text-align: left;

        &::before {
          content: '•'; /* Íconos de lista */
          position: absolute;
          left: 0;
          color: #6b3d9c; /* Color del punto */
          font-size: 20px;
        }
      }
    }

    .btn-ShopNow {
      background-color: $rosa-morado; /* Color morado para el botón */
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 30px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
      margin-bottom: -20px;
      margin-top: 10px;

      &:hover {
        color: white;
        background-color: $rosa-fuerte; /* Color más oscuro al pasar el ratón */
      }
    }
  }

    img {
      width: 300px; /* Ajusta el tamaño de la imagen */
      height: auto;
      border-radius: 10px;
      object-fit: cover;
      transform: translateX(100px);
    }
}


