--
-- PostgreSQL database dump
--

\restrict Quf2JiwKvbr3kqjQqrgZv8aprO1FAem387LPYfYZ1wmzns6meCvq0HFgKndHIAU

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: pasteleria_detalle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_detalle (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    producto_id integer NOT NULL,
    pedido_id integer NOT NULL
);


ALTER TABLE public.pasteleria_detalle OWNER TO postgres;

--
-- Name: pasteleria_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_detalle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pasteleria_detalle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_extra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_extra (
    "idExtra" integer NOT NULL,
    "nombreExtra" character varying(50) NOT NULL,
    "tipoExtra" character varying(50) NOT NULL,
    price numeric(6,2) NOT NULL
);


ALTER TABLE public.pasteleria_extra OWNER TO postgres;

--
-- Name: pasteleria_extra_idExtra_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_extra ALTER COLUMN "idExtra" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pasteleria_extra_idExtra_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_pan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pan (
    "idPan_id" integer NOT NULL,
    "nombrePan" character varying(50),
    descripcion character varying(255),
    imagen character varying(255)
);


ALTER TABLE public.pasteleria_pan OWNER TO postgres;

--
-- Name: pasteleria_pastel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pastel (
    "idPastel_id" integer NOT NULL,
    "tipoPastel" character varying(15) NOT NULL
);


ALTER TABLE public.pasteleria_pastel OWNER TO postgres;

--
-- Name: pasteleria_pastel_establecido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pastel_establecido (
    "idEstablecido_id" integer NOT NULL,
    "nombrePastel" character varying(50) NOT NULL,
    descripcion character varying(255),
    imagen character varying(255)
);


ALTER TABLE public.pasteleria_pastel_establecido OWNER TO postgres;

--
-- Name: pasteleria_pastel_personalizado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pastel_personalizado (
    "idPersonalizado_id" integer NOT NULL
);


ALTER TABLE public.pasteleria_pastel_personalizado OWNER TO postgres;

--
-- Name: pasteleria_pastel_personalizado_extras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pastel_personalizado_extras (
    id bigint NOT NULL,
    pastel_personalizado_id integer NOT NULL,
    extra_id integer NOT NULL
);


ALTER TABLE public.pasteleria_pastel_personalizado_extras OWNER TO postgres;

--
-- Name: pasteleria_pastel_personalizado_extras_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_pastel_personalizado_extras ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pasteleria_pastel_personalizado_extras_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_pedido (
    "idPedido" integer NOT NULL,
    "fechaEntrega" date NOT NULL,
    "horaEntrega" time without time zone NOT NULL,
    total numeric(7,2) NOT NULL,
    calificacion integer,
    "tipoEntrega" character varying(20) NOT NULL,
    "formaPago" character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    usuario_id integer NOT NULL
);


ALTER TABLE public.pasteleria_pedido OWNER TO postgres;

--
-- Name: pasteleria_pedido_idPedido_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_pedido ALTER COLUMN "idPedido" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pasteleria_pedido_idPedido_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_postre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_postre (
    "idPostre_id" integer NOT NULL,
    "nombrePostre" character varying(50) NOT NULL,
    descripcion character varying(255),
    imagen character varying(255)
);


ALTER TABLE public.pasteleria_postre OWNER TO postgres;

--
-- Name: pasteleria_producto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_producto (
    "idProducto" integer NOT NULL,
    stock integer NOT NULL,
    "precioUnitario" numeric(10,2) NOT NULL,
    tipo character varying(10) NOT NULL
);


ALTER TABLE public.pasteleria_producto OWNER TO postgres;

--
-- Name: pasteleria_producto_idProducto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_producto ALTER COLUMN "idProducto" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pasteleria_producto_idProducto_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_producto_promocion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_producto_promocion (
    id bigint NOT NULL,
    producto_id integer NOT NULL,
    promocion_id integer NOT NULL
);


ALTER TABLE public.pasteleria_producto_promocion OWNER TO postgres;

--
-- Name: pasteleria_producto_promocion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_producto_promocion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pasteleria_producto_promocion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_promocion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_promocion (
    "idPromocion" integer NOT NULL,
    descuento numeric(5,2) NOT NULL,
    vigencia date NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.pasteleria_promocion OWNER TO postgres;

--
-- Name: pasteleria_promocion_idPromocion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_promocion ALTER COLUMN "idPromocion" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pasteleria_promocion_idPromocion_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pasteleria_tarta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_tarta (
    "idTarta_id" integer NOT NULL,
    "nombreTarta" character varying(50) NOT NULL,
    descripcion character varying(255),
    imagen character varying(255)
);


ALTER TABLE public.pasteleria_tarta OWNER TO postgres;

--
-- Name: pasteleria_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pasteleria_usuario (
    "idUsuario" integer NOT NULL,
    correo character varying(255) NOT NULL,
    "nombreU" character varying(100) NOT NULL,
    "contrase├▒a" character varying(255) NOT NULL,
    nombres character varying(120) NOT NULL,
    "apellidoP" character varying(60) NOT NULL,
    "apellidoM" character varying(60),
    "direccionEntrega" character varying(35),
    "fechaN" date NOT NULL,
    celular character varying(20) NOT NULL,
    "puntosReco" integer NOT NULL
);


ALTER TABLE public.pasteleria_usuario OWNER TO postgres;

--
-- Name: pasteleria_usuario_idUsuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pasteleria_usuario ALTER COLUMN "idUsuario" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pasteleria_usuario_idUsuario_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$7JRAh7ZJYyTnHkNLKh4ky1$BjFP3AVt25QZAh9QRmH1I1QzTy8UFo8sqHsQ4acAvvg=	2025-11-25 02:02:21.58212+00	t	usuario			usuario@gmail.com	t	t	2025-11-25 02:02:05.690778+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	pasteleria	usuario
8	pasteleria	promocion
9	pasteleria	producto
10	pasteleria	pedido
11	pasteleria	extra
12	pasteleria	pastel
13	pasteleria	pastel_establecido
14	pasteleria	pastel_personalizado
15	pasteleria	detalle
16	pasteleria	pan
17	pasteleria	tarta
18	pasteleria	postre
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
6c2yr7yfz69d9ygne14z6y4ttk33gx6j	.eJxVjEEOwiAQRe_C2hCoMFKX7j0DmWEGqRpISrsy3l2bdKHb_977LxVxXUpcu8xxYnVWVh1-N8L0kLoBvmO9NZ1aXeaJ9KbonXZ9bSzPy-7-HRTs5VujFwF7SgjOmpBdIEIMlkFEyPjR-jA4MswwOpspwWAMY_bHIEkyOPX-APhuOIk:1vNiNp:rJOMG6p_mzwOhJBat7ufEafLyH3gUL6a4gvO_YeuFaQ	2025-12-09 02:02:21.59242+00
\.


--
-- Data for Name: pasteleria_detalle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_detalle (id, cantidad, producto_id, pedido_id) FROM stdin;
3	5	1	1
4	5	2	1
\.


--
-- Data for Name: pasteleria_extra; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_extra ("idExtra", "nombreExtra", "tipoExtra", price) FROM stdin;
1	Pequeno	TAMANO	150.00
2	Mediano	TAMANO	250.00
3	Grande	TAMANO	350.00
4	Chocolate	SABOR	0.00
5	Matcha	SABOR	0.00
6	Zanahoria	SABOR	0.00
7	Crema de cacahuate	RELLENO	50.00
8	Durazno	RELLENO	50.00
9	Ganache de chocolate	RELLENO	60.00
10	Figuras de fondant	DECORACION	80.00
11	Mirror glaze	DECORACION	80.00
12	Flores naturales comestibles	DECORACION	90.00
\.


--
-- Data for Name: pasteleria_pan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pasteleria_pastel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_pastel ("idPastel_id", "tipoPastel") FROM stdin;
24	ESTABLECIDO
25	ESTABLECIDO
26	ESTABLECIDO
27	ESTABLECIDO
28	ESTABLECIDO
29	ESTABLECIDO
30	ESTABLECIDO
31	ESTABLECIDO
32	ESTABLECIDO
33	ESTABLECIDO
34	ESTABLECIDO
35	ESTABLECIDO
36	ESTABLECIDO
37	ESTABLECIDO
38	ESTABLECIDO
39	ESTABLECIDO
40	ESTABLECIDO
78	PERSONALIZADO
\.


--
-- Data for Name: pasteleria_pastel_establecido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pasteleria_pastel_personalizado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_pastel_personalizado ("idPersonalizado_id") FROM stdin;
78
\.


--
-- Data for Name: pasteleria_pastel_personalizado_extras; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_pastel_personalizado_extras (id, pastel_personalizado_id, extra_id) FROM stdin;
1	78	11
2	78	2
3	78	10
4	78	4
\.


--
-- Data for Name: pasteleria_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_pedido ("idPedido", "fechaEntrega", "horaEntrega", total, calificacion, "tipoEntrega", "formaPago", status, usuario_id) FROM stdin;
1	2025-11-28	02:32:12	0.00	5	PICKUP	MERCADOPAGO	RECIBIDO	1
2	2025-11-10	18:00:00	0.00	5	DOMICILIO	TARJETA	ENTREGADO	1
\.


--
-- Data for Name: pasteleria_postre; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pasteleria_producto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pasteleria_producto_promocion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_producto_promocion (id, producto_id, promocion_id) FROM stdin;
1	77	1
2	78	1
\.


--
-- Data for Name: pasteleria_promocion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_promocion ("idPromocion", descuento, vigencia, status) FROM stdin;
1	20.00	2025-12-02	ACTIVA
2	15.00	2026-01-15	ACTIVA
3	5.00	2025-12-10	ACTIVA
4	10.00	2025-11-30	EXPIRADA
\.


--
-- Data for Name: pasteleria_tarta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pasteleria_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pasteleria_usuario ("idUsuario", correo, "nombreU", "contrase├▒a", nombres, "apellidoP", "apellidoM", "direccionEntrega", "fechaN", celular, "puntosReco") FROM stdin;
1	juan@gmail.com	juan123	pass123	Juan	P├®rez	Lopez	Calle 1 #45	1998-05-20	5512345678	50
2	maria@hotmail.com	maria22	claveSegura	Mar├¡a	Ram├¡rez	\N	Av. Centro 234	2000-10-11	5523456789	120
3	carlos@correo.com	carls	12345	Carlos	Mart├¡nez	Ju├írez	\N	1995-02-05	5534567890	15
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 8, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 19, true);


--
-- Name: pasteleria_detalle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pasteleria_detalle_id_seq', 4, true);


--
-- Name: pasteleria_extra_idExtra_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pasteleria_extra_idExtra_seq"', 12, true);


--
-- Name: pasteleria_pastel_personalizado_extras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pasteleria_pastel_personalizado_extras_id_seq', 4, true);


--
-- Name: pasteleria_pedido_idPedido_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pasteleria_pedido_idPedido_seq"', 2, true);


--
-- Name: pasteleria_producto_idProducto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pasteleria_producto_idProducto_seq"', 78, true);


--
-- Name: pasteleria_producto_promocion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pasteleria_producto_promocion_id_seq', 2, true);


--
-- Name: pasteleria_promocion_idPromocion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pasteleria_promocion_idPromocion_seq"', 4, true);


--
-- Name: pasteleria_usuario_idUsuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pasteleria_usuario_idUsuario_seq"', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: pasteleria_detalle pasteleria_detalle_pedido_id_producto_id_ae7f7cfd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_detalle
    ADD CONSTRAINT pasteleria_detalle_pedido_id_producto_id_ae7f7cfd_uniq UNIQUE (pedido_id, producto_id);


--
-- Name: pasteleria_detalle pasteleria_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_detalle
    ADD CONSTRAINT pasteleria_detalle_pkey PRIMARY KEY (id);


--
-- Name: pasteleria_extra pasteleria_extra_nombreExtra_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_extra
    ADD CONSTRAINT "pasteleria_extra_nombreExtra_key" UNIQUE ("nombreExtra");


--
-- Name: pasteleria_extra pasteleria_extra_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_extra
    ADD CONSTRAINT pasteleria_extra_pkey PRIMARY KEY ("idExtra");


--
-- Name: pasteleria_pan pasteleria_pan_nombrePan_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pan
    ADD CONSTRAINT "pasteleria_pan_nombrePan_key" UNIQUE ("nombrePan");


--
-- Name: pasteleria_pan pasteleria_pan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pan
    ADD CONSTRAINT pasteleria_pan_pkey PRIMARY KEY ("idPan_id");


--
-- Name: pasteleria_pastel_establecido pasteleria_pastel_establecido_nombrePastel_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_establecido
    ADD CONSTRAINT "pasteleria_pastel_establecido_nombrePastel_key" UNIQUE ("nombrePastel");


--
-- Name: pasteleria_pastel_establecido pasteleria_pastel_establecido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_establecido
    ADD CONSTRAINT pasteleria_pastel_establecido_pkey PRIMARY KEY ("idEstablecido_id");


--
-- Name: pasteleria_pastel_personalizado_extras pasteleria_pastel_person_pastel_personalizado_id__5b35c94f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado_extras
    ADD CONSTRAINT pasteleria_pastel_person_pastel_personalizado_id__5b35c94f_uniq UNIQUE (pastel_personalizado_id, extra_id);


--
-- Name: pasteleria_pastel_personalizado_extras pasteleria_pastel_personalizado_extras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado_extras
    ADD CONSTRAINT pasteleria_pastel_personalizado_extras_pkey PRIMARY KEY (id);


--
-- Name: pasteleria_pastel_personalizado pasteleria_pastel_personalizado_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado
    ADD CONSTRAINT pasteleria_pastel_personalizado_pkey PRIMARY KEY ("idPersonalizado_id");


--
-- Name: pasteleria_pastel pasteleria_pastel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel
    ADD CONSTRAINT pasteleria_pastel_pkey PRIMARY KEY ("idPastel_id");


--
-- Name: pasteleria_pedido pasteleria_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pedido
    ADD CONSTRAINT pasteleria_pedido_pkey PRIMARY KEY ("idPedido");


--
-- Name: pasteleria_postre pasteleria_postre_nombrePostre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_postre
    ADD CONSTRAINT "pasteleria_postre_nombrePostre_key" UNIQUE ("nombrePostre");


--
-- Name: pasteleria_postre pasteleria_postre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_postre
    ADD CONSTRAINT pasteleria_postre_pkey PRIMARY KEY ("idPostre_id");


--
-- Name: pasteleria_producto pasteleria_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_producto
    ADD CONSTRAINT pasteleria_producto_pkey PRIMARY KEY ("idProducto");


--
-- Name: pasteleria_producto_promocion pasteleria_producto_prom_producto_id_promocion_id_f4b9d019_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_producto_promocion
    ADD CONSTRAINT pasteleria_producto_prom_producto_id_promocion_id_f4b9d019_uniq UNIQUE (producto_id, promocion_id);


--
-- Name: pasteleria_producto_promocion pasteleria_producto_promocion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_producto_promocion
    ADD CONSTRAINT pasteleria_producto_promocion_pkey PRIMARY KEY (id);


--
-- Name: pasteleria_promocion pasteleria_promocion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_promocion
    ADD CONSTRAINT pasteleria_promocion_pkey PRIMARY KEY ("idPromocion");


--
-- Name: pasteleria_tarta pasteleria_tarta_nombreTarta_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_tarta
    ADD CONSTRAINT "pasteleria_tarta_nombreTarta_key" UNIQUE ("nombreTarta");


--
-- Name: pasteleria_tarta pasteleria_tarta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_tarta
    ADD CONSTRAINT pasteleria_tarta_pkey PRIMARY KEY ("idTarta_id");


--
-- Name: pasteleria_usuario pasteleria_usuario_correo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_usuario
    ADD CONSTRAINT pasteleria_usuario_correo_key UNIQUE (correo);


--
-- Name: pasteleria_usuario pasteleria_usuario_nombreU_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_usuario
    ADD CONSTRAINT "pasteleria_usuario_nombreU_key" UNIQUE ("nombreU");


--
-- Name: pasteleria_usuario pasteleria_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_usuario
    ADD CONSTRAINT pasteleria_usuario_pkey PRIMARY KEY ("idUsuario");


--
-- Name: pasteleria_detalle unique_pedido_producto; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_detalle
    ADD CONSTRAINT unique_pedido_producto UNIQUE (pedido_id, producto_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: pasteleria_detalle_pedido_id_d4af42a9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_detalle_pedido_id_d4af42a9 ON public.pasteleria_detalle USING btree (pedido_id);


--
-- Name: pasteleria_detalle_producto_id_9d8eec54; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_detalle_producto_id_9d8eec54 ON public.pasteleria_detalle USING btree (producto_id);


--
-- Name: pasteleria_extra_nombreExtra_68a99a09_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_extra_nombreExtra_68a99a09_like" ON public.pasteleria_extra USING btree ("nombreExtra" varchar_pattern_ops);


--
-- Name: pasteleria_pan_nombrePan_2032f89c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_pan_nombrePan_2032f89c_like" ON public.pasteleria_pan USING btree ("nombrePan" varchar_pattern_ops);


--
-- Name: pasteleria_pastel_establecido_nombrePastel_daca99d0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_pastel_establecido_nombrePastel_daca99d0_like" ON public.pasteleria_pastel_establecido USING btree ("nombrePastel" varchar_pattern_ops);


--
-- Name: pasteleria_pastel_personal_pastel_personalizado_id_64fb8db5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_pastel_personal_pastel_personalizado_id_64fb8db5 ON public.pasteleria_pastel_personalizado_extras USING btree (pastel_personalizado_id);


--
-- Name: pasteleria_pastel_personalizado_extras_extra_id_7edab6af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_pastel_personalizado_extras_extra_id_7edab6af ON public.pasteleria_pastel_personalizado_extras USING btree (extra_id);


--
-- Name: pasteleria_pedido_usuario_id_62e940b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_pedido_usuario_id_62e940b2 ON public.pasteleria_pedido USING btree (usuario_id);


--
-- Name: pasteleria_postre_nombrePostre_a9198c8e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_postre_nombrePostre_a9198c8e_like" ON public.pasteleria_postre USING btree ("nombrePostre" varchar_pattern_ops);


--
-- Name: pasteleria_producto_promocion_producto_id_69e73fff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_producto_promocion_producto_id_69e73fff ON public.pasteleria_producto_promocion USING btree (producto_id);


--
-- Name: pasteleria_producto_promocion_promocion_id_4b1b2963; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_producto_promocion_promocion_id_4b1b2963 ON public.pasteleria_producto_promocion USING btree (promocion_id);


--
-- Name: pasteleria_tarta_nombreTarta_b63b3f2d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_tarta_nombreTarta_b63b3f2d_like" ON public.pasteleria_tarta USING btree ("nombreTarta" varchar_pattern_ops);


--
-- Name: pasteleria_usuario_correo_89cce188_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pasteleria_usuario_correo_89cce188_like ON public.pasteleria_usuario USING btree (correo varchar_pattern_ops);


--
-- Name: pasteleria_usuario_nombreU_68605c8a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pasteleria_usuario_nombreU_68605c8a_like" ON public.pasteleria_usuario USING btree ("nombreU" varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_detalle pasteleria_detalle_pedido_id_d4af42a9_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_detalle
    ADD CONSTRAINT pasteleria_detalle_pedido_id_d4af42a9_fk_pasteleri FOREIGN KEY (pedido_id) REFERENCES public.pasteleria_pedido("idPedido") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_detalle pasteleria_detalle_producto_id_9d8eec54_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_detalle
    ADD CONSTRAINT pasteleria_detalle_producto_id_9d8eec54_fk_pasteleri FOREIGN KEY (producto_id) REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pan pasteleria_pan_idPan_id_2bf3331e_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pan
    ADD CONSTRAINT "pasteleria_pan_idPan_id_2bf3331e_fk_pasteleri" FOREIGN KEY ("idPan_id") REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pastel_establecido pasteleria_pastel_es_idEstablecido_id_e2aadf3e_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_establecido
    ADD CONSTRAINT "pasteleria_pastel_es_idEstablecido_id_e2aadf3e_fk_pasteleri" FOREIGN KEY ("idEstablecido_id") REFERENCES public.pasteleria_pastel("idPastel_id") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pastel pasteleria_pastel_idPastel_id_22eff9b4_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel
    ADD CONSTRAINT "pasteleria_pastel_idPastel_id_22eff9b4_fk_pasteleri" FOREIGN KEY ("idPastel_id") REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pastel_personalizado_extras pasteleria_pastel_pe_extra_id_7edab6af_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado_extras
    ADD CONSTRAINT pasteleria_pastel_pe_extra_id_7edab6af_fk_pasteleri FOREIGN KEY (extra_id) REFERENCES public.pasteleria_extra("idExtra") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pastel_personalizado pasteleria_pastel_pe_idPersonalizado_id_eaf8a502_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado
    ADD CONSTRAINT "pasteleria_pastel_pe_idPersonalizado_id_eaf8a502_fk_pasteleri" FOREIGN KEY ("idPersonalizado_id") REFERENCES public.pasteleria_pastel("idPastel_id") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pastel_personalizado_extras pasteleria_pastel_pe_pastel_personalizado_64fb8db5_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pastel_personalizado_extras
    ADD CONSTRAINT pasteleria_pastel_pe_pastel_personalizado_64fb8db5_fk_pasteleri FOREIGN KEY (pastel_personalizado_id) REFERENCES public.pasteleria_pastel_personalizado("idPersonalizado_id") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_pedido pasteleria_pedido_usuario_id_62e940b2_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_pedido
    ADD CONSTRAINT pasteleria_pedido_usuario_id_62e940b2_fk_pasteleri FOREIGN KEY (usuario_id) REFERENCES public.pasteleria_usuario("idUsuario") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_postre pasteleria_postre_idPostre_id_309eaa9f_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_postre
    ADD CONSTRAINT "pasteleria_postre_idPostre_id_309eaa9f_fk_pasteleri" FOREIGN KEY ("idPostre_id") REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_producto_promocion pasteleria_producto__producto_id_69e73fff_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_producto_promocion
    ADD CONSTRAINT pasteleria_producto__producto_id_69e73fff_fk_pasteleri FOREIGN KEY (producto_id) REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_producto_promocion pasteleria_producto__promocion_id_4b1b2963_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_producto_promocion
    ADD CONSTRAINT pasteleria_producto__promocion_id_4b1b2963_fk_pasteleri FOREIGN KEY (promocion_id) REFERENCES public.pasteleria_promocion("idPromocion") DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pasteleria_tarta pasteleria_tarta_idTarta_id_694d2d0b_fk_pasteleri; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pasteleria_tarta
    ADD CONSTRAINT "pasteleria_tarta_idTarta_id_694d2d0b_fk_pasteleri" FOREIGN KEY ("idTarta_id") REFERENCES public.pasteleria_producto("idProducto") DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict Quf2JiwKvbr3kqjQqrgZv8aprO1FAem387LPYfYZ1wmzns6meCvq0HFgKndHIAU

